.gradient-custom-3 {
    /* fondo del contenedor */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}

.gradient-custom-4 {
    /* fondo del botón */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}

.card-custom-style {
    /* Elimina el fondo blanco y ajusta la transparencia del fondo de la tarjeta */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* sombra para más visibilidad */
}
