@* Views/Activacion/ActivacionExitoso.cshtml *@
@{
    Layout = null;
    ViewData["Title"] = "Activación Exitosa";
}

<h1>Activación Exitosa</h1>
<p>Tu cuenta ha sido activada con éxito. Ahora puedes iniciar sesión.</p>
<a href="@Url.Action("Loguear", "Login")">Iniciar sesión</a>
