@* Views/Activacion/ActivacionFallida.cshtml *@
@{

    Layout = null;
    ViewData["Title"] = "Activación Fallida";
}

<h1>Activación Fallida</h1>
<p>Hubo un problema al intentar activar tu cuenta. Por favor, intenta de nuevo o contacta con soporte.</p>
<a href="@Url.Action("Register", "Login")">Registrarse</a>
